{% extends "base/base.html" %}
{% from "base/_macro_fields.html" import render_field %}

{% block contenido %}
    <div class="row">
        <h1 align="center">{{ accion }} Unidad Medida</h1>
        <hr>
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="POST">
                {{ form.csrf_token }}
                {{ render_field(form.nombre, class='form-control') }}
                {{ render_field(form.cantidad, class='form-control') }}
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button type="submit" name="button" class="btn btn-primary">{{ accion }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
